*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #ffffff;
}
body{
	background-color: #f8f8f8;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#ffffff; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
    color: black;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #ffffff;
}
.navbar-brand{
font-size: 30px;	
}
#chickstory  {
    background-color: grey;
    color: black;
}